{
    "presets": ["@babel/preset-env", "@babel/preset-react"],
    "plugins": [
      ["module-resolver", {
        "root": ["./"],
        "alias": {
          "@css": "./assets/css",
          "@views": "./views"
        }
      }]
    ]
  }